@import "~@fortawesome/fontawesome-free/css/all.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.form-buttons {
  display: flex;
  gap: 10px;
}

// content styles
.content {
  margin-top: 70px;
  padding: 20px;
  background-color: #fffefe;
}

@media (max-width: 768px) {
  .content {
    margin-top: 100px;
  }
}

// login styles
.loginpage {
  display: flex;
  background: linear-gradient(90deg, #043494 30%, #649cfc);
  min-height: 100vh; // Mínimo alto de la pantalla
  width: 100vw; // Ancho completo de la ventana
  justify-content: center;
  align-items: center;
  overflow: hidden; // Evitar scroll

  .welcome-container {
    background-color: #148cc4;
    width: 600px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #ffffff;
    z-index: 0;
    text-align: left;

    @media (max-width: 768px) {
      width: 100%;
      height: auto;
      font-size: 2.5rem;
      padding: 20px;
      text-align: center;
    }
  }

  .login-container {
    background-color: #ffffff;
    width: 450px;
    height: 580px;
    margin-top: 40px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      width: 100%;
      height: auto;
      margin-top: 20px;
      padding: 20px;
    }
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;

  .login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  .form-control {
    border: 1px solid #14acd4;
    margin-bottom: 10px;

    @media (max-width: 768px) {
      margin-bottom: 5px;
    }
  }

  .btn {
    color: #ffffff;
  }

  .btn:hover {
    background-color: #14acd4;
    color: #ffffff;
  }

  .d-grid {
    width: 100%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

// Navbar styles
.navbar {
  background-color: #14acd4;
  padding: 10px 20px;
  color: #fff;

  .navbar-brand {
    .logo {
      height: 50px;
      width: auto;
    }
  }

  .navbar-title {
    flex: 1;
    text-align: center;

    h1 {
      font-size: 1.5rem;
      color: #fff;
      margin: 0;
    }
  }

  .nav-item {
    .btn {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 1rem;
      cursor: pointer;

      svg {
        margin-right: 5px;
      }

      &:hover {
        color: #d33;
      }
    }
  }

  @media (max-width: 768px) {
    .navbar-title h1 {
      font-size: 1.2rem;
    }

    .nav-item .btn {
      font-size: 0.9rem;
    }
  }
}

// Card styles
.cert-card {
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  .cert-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  .card-body {
    text-align: center;
    padding: 10px;

    .card-title {
      font-size: 1.2rem;
      color: #333;
    }

    .card-subtitle {
      font-size: 1rem;
      color: #777;
    }
  }
}

.modal-content {
  .modal-header {
    background-color: #14acd4;
    color: white;
  }

  .modal-body {
    color: #333;
  }

  .modal-footer {
    button {
      background-color: #14acd4;
      border: none;
      color: white;

      &:hover {
        background-color: #0d8bc4;
      }
    }
  }
}

.modal-content {
  .modal-header {
    background-color: #14acd4;
    color: white;
  }

  .modal-body {
    color: #333;
  }

  .modal-footer {
    button {
      background-color: #14acd4;
      border: none;
      color: white;

      &:hover {
        background-color: #0d8bc4;
      }
    }
  }
}

.modal-content {
  .modal-header {
    background-color: #14acd4;
    color: white;
  }

  .modal-body {
    color: #333;
  }

  .modal-footer {
    button {
      background-color: #14acd4;
      border: none;
      color: white;

      &:hover {
        background-color: #0d8bc4;
      }
    }
  }
}

// Dashboard styles
/* Dashboard styles */
.toggle-filter-btn {
  margin-bottom: 20px;
  background-color: #14acd4;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.filter-menu {
  display: none;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.filter-menu.visible {
  display: block;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .form-group {
    flex: 1 1 200px;

    label {
      color: #333;
    }

    input,
    .react-datepicker-wrapper {
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    .react-datepicker__input-container input {
      width: 100%;
    }
  }

  button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #14acd4;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
}

.certifications {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
// Special Buttons styles

/* ModalButton.css */
.modal-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #14acd4;
  border: none;
  border-radius: 50%;
  color: red;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  outline: none; 
  z-index: 100;
}

.modal-button i {
  font-size: 24px;
  color: white;
}

.modal-button:hover {
  background-color: #0e8ca3;
  transform: scale(1.1);
}

// Not found styles
.notfoundpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: #fff;
  text-align: center;
}

.notfound-container {
  animation: drop 1s ease-in-out;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.notfound-container h1 {
  font-size: 6rem;
  margin-bottom: 10px;
}

.notfound-container p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.notfound-container a {
  text-decoration: none;
}

.notfound-container button {
  padding: 10px 20px;
  background-color: #14acd4;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.notfound-container button:hover {
  background-color: #0d8bc4;
}

/* Animación de caída */
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
